<!-- <h1 id="title" class="title">OneBlock Login </h1> -->
<div style="  max-width: 500px;
  margin: auto;">
    <div style="padding-bottom: 50px; padding-top: 200px;">
        <img src="assets/images/oneblock-logo-black.png" width="500vw">
    </div>
    <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
        <button nbButton outline fullWidth status="info" [class.btn-pulse]="submitted">
            <nb-icon icon="star"></nb-icon>Sign In With Google
        </button>
    </form>
</div>